<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/spring-framework-3.2.3.RELEASE-dist/spring-framework-3.2.3.RELEASE/libs/spring-expression-3.2.3.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring-framework-3.2.3.RELEASE-dist/spring-framework-3.2.3.RELEASE/libs/spring-core-3.2.3.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring-framework-3.2.3.RELEASE-dist/spring-framework-3.2.3.RELEASE/libs/spring-context-3.2.3.RELEASE.jar!/" />
      <root url="jar://$USER_HOME$/Downloads/spring-framework-3.2.3.RELEASE-dist/spring-framework-3.2.3.RELEASE/libs/spring-beans-3.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>